/*Footer.css*/

.group-names{
    display: flex;
    padding: 10px;
    margin-top: auto;
    
    width: 100%;
    padding: 0;
    
    justify-content: flex-end;
    align-items: center;
}

.group-name{
    padding: 10px;
}

footer{
    height: var(--footer-height);
    margin-top: auto; /*ensures the footer is always at the bottom*/
  }