/*Form.css*/

.form-container{
    height: 100vh;
    
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    border: 10px solid pink;
}

button{
    text-align: center;
    border-radius: 5px;
    text-decoration: none;  /* Remove underline */
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

button:hover{
    background-color: lightgrey;
}

.form-container textarea{
    resize: none;
    padding: 3px;
}

.field-container{
    display: flex;
    justify-content: center;

    width: 100%;
    margin: 5px;
}

button {    
    max-width: 500px;
    max-height: 200px;
}   

@media(min-width: 712px){
    .form-container input{
        width: 25%;
        padding: 3px;
    }

    button{
        width: 5%;
    }
    
}


@media(max-width: 712px){
    .form-container input{
        width: 50%;
        padding: 3px;
    }

    .form-container textarea{
        width: 50%;
        padding: 3px;
    }

    button{
        width: 20%;
    }

}
