h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.output-container {
    max-width: 900px;
    height: fit-content;
    padding: 20px;
    margin: 0 auto;
    border: 10px solid black;
}


.document-title-wrapper{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 10px;
    border-radius: 8px;

    border: 10px solid pink;
}

.document-title-wrapper > input{
    flex: 2; /*This takes up 2/3 of the space in wrapper*/
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.document-actions{
    flex: 1; /*This takes up 1/3 of the space in wrapper*/
    
    display: flex;
    justify-content: flex-end;

    gap: 10px;

    border: 10px solid purple;
}


.generated-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f7ff;
    box-shadow: 10px 4px 15px rgba(0, 0, 0, 0.3)
}

.header {
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-weight: bold;
    box-shadow: 8px 0px rgba(0, 0, 0, 0.3);

    border: 10px solid green;
}
