/* Header.css */

.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center; /*vertically centers items*/

    width: 100%;
    overflow: hidden;

    border: 1px solid red;
}

.logo{
    width: 20%;
    margin-right: auto; 
}