/* Header.css */

div.header-container{
    width: 100%;
    overflow: hidden;

    height: var(--header-height);

    display: flex;
    justify-content: flex-start;
    align-items: center; /*vertically centers items*/

    width: 100%;
    overflow: hidden;

    flex-shrink: 0;
    
    border-bottom: 2px solid skyblue;
}
