/* Homepage.css */  

.homepage-container{
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;
    

/* The image works however is too zoomed in i think its just an issue with the 
    resolution of the picture will fix this later

    background-image: url("/public/images/Shore.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
*/
}


