/* Homepage.css */  


  


/*This is for screens with a width of >712px*/
@media (min-width: 712px){
    .homepage-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        margin-top: 40px;
    }


}

/*This is for screens with a width of <712px */
@media (max-width: 712px){
    .homepage-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }   

}