div.header-container {

    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    border-bottom: none;
}

.navbar {
    background: transparent;
    border-radius: 12px;
    border: none;
    padding: 15px 30px;
    text-align: center;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

.navbar:hover {
    transform: translateY(-5px);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Ensures nav links are vertically aligned */
    gap: 20px; /* Adds space between links */
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;

    display: inline-block;
}

.navbar a:hover {
    background: #000000;
    color: white;
}

img {
    margin: 10px;
    width: 70px;
    height: auto;
    align-self: flex-start; /* Ensures logo stays aligned at the top of the container */
}

/* Responsive Design */

.hamburger{
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

/* For screens < 850px */
@media (max-width: 850px) {
    .hamburger{
        display: inline-block;
        margin: 10px;
    }

    .navbar {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: rgba(0,0,0,0.9);
        text-align: center;
        padding: 10px 0;
        flex-direction: column;
        display: none; /*Nav bar will be invisible by default for mobile*/
    }

    .navbar.open{
        display: block;
        position: absolute;
        top: var(--header-height);
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.9);

        z-index: 99999; /*once opened navbar is ontop of everything*/
    }

    .navbar ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    /* Show menu when active */
    .navbar.active {
        display: flex;
    }


}
