/*App.css*/

body,html, #root{
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;

}

#root{
  box-sizing: border-box; 
}

.header-container,
footer{
  flex-shrink: 0
}


/* Global CSS */
button {
  text-align: center;
  border-radius: 5px;
  text-decoration: none;  /* Remove underline */
  cursor: pointer;
  padding: 5px;
  margin: 5px;

  width: 10%;
  max-width: 500px;
  max-height: 200px;
}

button:hover{
  background-color: lightgrey;
}