/*App.css*/

/*CSS Variables*/
:root{
  --header-height: 6%;
  --footer-height: 5%;
}

/*Generic - removing styling to make custom styling easier*/
body,html, #root{
  background: linear-gradient(to top, rgb(0, 0, 0), #106989);
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: hidden;

}

#root{
  box-sizing: border-box;
}


